[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
streamlit = "*"
watchdog = "*"
numpy = "*"
transformers = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
black="black "
front="streamlit run public/main.py"
